<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "GroupKit · Phoenix Framework" %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body class="font-sans text-base antialiased bg-gray-100 text-gray-800 text-center mx-10 my-3">
    <header>
        <!--<h1 class="text-purple-700 text-3xl text-left font-semibold">GroupKit</h1>-->
    </header>
    <main role="main">
      <p class="" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
