<h2>List Users</h2>
<%= for user <- @users do %>
    <div>
        <%= first_name(user) %>
        <%= user.id %>
        <%= link "View", to: Routes.user_path(@conn, :show, user.id)%>
    </div>
<% end %>